# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.ESGI.DesignPattern.Projet.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\esgi\4eme_annee\S2\design pattern\AL2\Projets\9\ESGI.DesignPattern.Projet\.idea\.idea.ESGI.DesignPattern.Projet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
